<section class="home-container">
  <div class="intro">
    <h2 class="role">Desarrollador de Software</h2>
    <p class="description">
      Soy un apasionado del desarrollo backend con Java y Spring Boot, con experiencia en frontend con Angular y microservicios modernos. Me encanta construir soluciones eficientes y elegantes.
    </p>

    <div class="actions">
      <a href="/assets/CV-JhanGutierrez.pdf" target="_blank" class="btn">Descargar CV</a>
      <a href="#projects" class="btn outline">Ver proyectos</a>
    </div>
  </div>
    <!-- Imagen SVG visible solo en responsive -->
  <img src="/assets/svg/fondo.svg" alt="Decoración" class="responsive-svg" />
</section>
