<div class="social-sidebar">
  <ul>
    <li>
      <a href="mailto:gjhan10@gmail.com" target="_blank" aria-label="Email" title="Enviar correo">
        <i class="fas fa-envelope"></i>
      </a>
    </li>
    <li>
      <a href="https://wa.me/+51922402398" target="_blank" aria-label="WhatsApp" title="Escribir por WhatsApp">
        <i class="fab fa-whatsapp"></i>
      </a>
    </li>
    <li>
      <a href="https://linkedin.com/in/jhan-jeyson-gutierrez-flores-18196a209" target="_blank" aria-label="LinkedIn" title="Visitar LinkedIn">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/gjhan10" target="_blank" aria-label="GitHub" title="Ver GitHub">
        <i class="fab fa-github"></i>
      </a>
    </li>
  </ul>
</div>
